{% extends "UI/base2.html" %}

{% block content_title %}
  {% if title %}
    {{ title }}
  {% else %}
    UI
  {% endif %}
{% endblock content_title %}

{% block content_desc %}
	{% if prev_url %}
		<hr class="my-4">
		<p class="lead text-secondary">
			<a href="{{prev_url}}">&laquo; back</a>
		</p>
	{% endif %}
{% endblock content_desc%}

{% block content %}


	<div class="container">
		<div class="card text-center">
			<div class="card-header mb-4">
				Product Details
			</div>
			<div class="card-body">
				<img class="img-fluid" src="{{ object.image.url }}">
			</div>
			
			<div class="card-body mt-4">
				<h5 class="card-title ">Name: {{ object.product_name }} </h5> 
				<h5 class="card-title">Brand: {{ object.brand_name }}</h5>
				<h5 class="card-title">Category: {{ object.category.category_name }}</h5>
				<h5 class="card-title">Quantity: {{ object.quantity }} {{object.measure_type}}</h5>
				
			</div>
			<div class="card-footer text-muted">
				Product Barcode: {{object.item_id}}
			</div>
		</div>
	</div>


{% endblock content %}