{% extends "UI/base2.html" %}
{% load app_tags %}
{% load l10n %}
{% load tz %}
{% block content_title %}
	{% if title %}
		{{ title }}
	{% else %}
		UI
	{% endif %}
{% endblock content_title %}


{% block content_desc %}
  	Here you can see all the registered products in your fridge.
{% endblock content_desc%}



{% block content %}
  {% get_current_timezone as TIME_ZONE %}
  {% now "d" as current_date %}
  {% for item in queryset_list %}
        {% if forloop.counter0|divisibleby:200 %} <div class="row text-center"> {%  endif %}
          <div class="col-sm-12 col-lg-3 ">
          	{% if current_date|subtract:item.insert_date.day == 3 %}
	            <div class="card bg-light border-warning mb-4" style="max-width: 319px;" style="min-width: 319px;">
	              <img class="card-img-top" src="{{ item.barcode.image.url }}" style="width: 5rem; display: block; margin-left: auto; margin-right: auto;">
	              <div class="card-body text-center border-danger">
	                <p class="card-text text-warning">{{ item.barcode.name }}</p>
	                <p>
	                  <form method="GET" action="" >
	                    <button type="submit" 
	                    class="btn btn-outline-secondary" 
	                    value="{{ item.barcode.id }}" 
	                    name="remove_product">Remove</button>
	                  </form>
	                </p>
	              </div>
	              <div class="card-footer">
	              	<small class="text-muted">{{item.insert_date.date}}</small>
	          	  </div>
	            </div>
            {% elif current_date|subtract:item.insert_date.day > 3 %}
	          	<div class="card bg-light border-danger mb-4" style="max-width: 319px;" style="min-width: 319px;" >
	              <img class="card-img-top" src="{{ item.barcode.image.url }}" 
	              		style="width: 5rem; display: block; margin-left: auto; margin-right: auto;">
	              <div class="card-body text-center border-danger">
	                <p class="card-text text-danger">{{ item.barcode.name }}</p>
	                <p>
	                  <form method="GET" action="" >
	                    <button type="submit" 
	                    class="btn btn-outline-secondary" 
	                    value="{{ item.item_id }}" 
	                    name="remove_product">Remove</button>
	                  </form>
	                </p>
	              </div>
	              <div class="card-footer">
	              	<small class="text-muted">{{item.insert_date}}</small>
	          	  </div>
	            </div>
	        {% else %}
	        	<div class="card bg-light border-success mb-4" style="max-width: 319px;" style="min-width: 319px;">
	              <img class="card-img-top" src="{{ item.barcode.image.url }}" style="width: 5rem; display: block; margin-left: auto; margin-right: auto;">
	              <div class="card-body text-center border-success">
	                <a class="card-text text-success" href="{% url 'Barcode-detail' item.barcode.pk %}">{{ item.barcode.name }}</a>
	                <p>
	                  <form method="GET" action="" >
	                    <button type="submit" 
	                    class="btn btn-outline-secondary" 
	                    value="{{ item.item_id }}" 
	                    name="remove_product">Remove</button>
	                  </form>
	                </p>
	              </div>
	              <div class="card-footer">
	              	<small class="text-muted">
	              			{{ item.insert_date }}
	              	</small>
	          	  </div>
	            </div>
          	{%  endif %}
          </div>
        {%  if forloop.counter|divisibleby:200 or forloop.last %}</div><!-- row closing --><hr>{%  endif %}
  {% endfor %}

  	


	{% if is_paginated and queryset_list|length > 0 %}
		<div class="pagination justify-content-center">
			{% if queryset_list.has_previous %}
				<a class="btn btn-outline-primary mb-4" href="?page=1">&laquo; First</a>
				<a class="btn btn-outline-primary mb-4" href="?page={{ queryset_list.previous_page_number }}">Previous</a>
			{% endif %}

			{% for num in queryset_list.paginator.page_range %}
				{% if queryset_list.number == num %}
					<a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
				{% elif num > queryset_list.number|add:'-3' and num < queryset_list.number|add:'3'%}
					<a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
				{% endif %}
			{% endfor %}

			{% if queryset_list.has_next %}
				<a class="btn btn-outline-primary mb-4" href="?page={{ queryset_list.next_page_number }}">Next</a>
				<a class="btn btn-outline-primary mb-4" href="?page={{ queryset_list.paginator.num_pages }}">Last &raquo;</a>
			{% endif %}
		</div>
	{% endif %}


{% endblock content %}