{% extends "UI/base2.html" %}
{% load crispy_forms_tags %}

{% block content_desc %}
	<p class="text-secondary">Remove a product from your fridge.</p>
{% endblock content_desc%}

{% block content_title %}
  {% if title %}
    {{ title }}
  {% else %}
    UI
  {% endif %}
{% endblock content_title %}

{% block content_register %}
	<div class="content-section text-primary">
		<form method='POST'>
        	{% csrf_token %}
        	<fieldset class="form-group">
        		<legend class="border-bottom mb-4"> Enter barcode </legend>
        		{{ form|crispy }}
        	</fieldset>
        	<div class="form-group">
        		<button class="btn btn-outline-primary" type="submit"> Search </button>
        	</div>
     	</form>
	</div>

	
	
{% endblock content_register %}